<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>HOME</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/bootstrap.bundle.min.js"></script>
</head>
<body>
<header>
</header>

<nav class="navbar navbar-expand-xl navbar-dark py-lg-0" id="mainNav">
    <div class="container">
        <a class="navbar-brand lg-none" href="index.html">
            <img class="logo" src="../static/obrazok_kruh_33.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link" href="index.html">Domov</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Eshop</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Kaviaren</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Blog</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Prihlasenie</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Registracia</a></li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <h1>ddss</h1>
    <p>
        adadad ada
    </p>
</section>

<footer class="footer text-faded text-center py-4">
    <div class="container"><p class="m-0 small">Copyright &copy; HABESH COFFE 2022</p></div>
</footer>
</body>
</html>