<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predajna</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark py-lg-0" id="mainNav">
    <div class="container">
        <a class="navbar-brand lg-none" th:href="@{/}">
            <img class="logo" src="../static/imgs/obrazok_kruh_33.png" th:src="@{/imgs/obrazok_kruh_33.png}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link" th:href="@{/}">Domov</a></li>
<!--                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Eshop</a></li>-->
                <li class="nav-item px-lg-4"><a class="nav-link" th:href="@{predajna}">Predajna</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link" th:href="@{/blog}">Blog</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="nav-item px-lg-4"> <a class="nav-link" th:href="@{/users}">Uzivatelia</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"> <a class="nav-link" th:href="@{/profil}">Profil</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"><a class="nav-link" th:href="@{/logout}">Odhlasit sa</a></li>
                <li sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"><a class="nav-link" th:href="@{/login}">Prihlasenie</a></li>
                <li sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"><a class="nav-link" th:href="@{/registracia}">Registracia</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-md">
    <h1 class="nadpis-1">Habesh Coffee Shop</h1>
    <div class="obsah">
        <p>Našu útulnú predajňu Habesh Coffee Shop nájdete na Obchodnej ulici 5 v Žiline. Habesh Coffee Shop je spojenie
            jedinečnej kávovej chute, arómy a minimalistického dizajnu. Príďte na vlastnej koži zažiť kúsok Etiópie.</p>
        <p>Okrem lahodnej čerstvo pripravenej kávy vám ponúkneme tiež kvalitnú horúcu čokoládu, čaje aj iné chutné
            dobroty od lokálnych výrobcov. </p>
        <p>Zakúpiť si môžete tiež balenú etiópsku kávu Habesh Coffee, kávové mlynčeky či šálky. Milovníci kvalitnej
            čokolády si u nás môžu vybrať z darčekových balení LYRA alebo DP Chocolate. </p>
        <p>Veríme, že sa budete cítiť príjemne a odídete spokojní.</p>
        <h2>
            Otváracie hodiny
        </h2>
        <table class="table-bordered" id="ot">
            <tr>
                <th>Den</th>
                <th>Od</th>
                <th>Do</th>
            </tr>
            <tr>
                <td>PON</td>
                <td>8:00</td>
                <td>16:00</td>
            </tr>
            <tr>
                <td>UT</td>
                <td>8:00</td>
                <td>16:00</td>
            </tr>
            <tr>
                <td>STR</td>
                <td>8:00</td>
                <td>16:00</td>
            </tr>
            <tr>
                <td>STV</td>
                <td>8:00</td>
                <td>16:00</td>
            </tr>
            <tr>
                <td>PIA</td>
                <td>8:00</td>
                <td>16:00</td>
            </tr>
            <tr>
                <td>SO</td>
                <td>Zatvorene</td>
                <td></td>
            </tr>
            <tr>
                <td>NE</td>
                <td>Zatvorene</td>
                <td></td>
            </tr>
        </table>
        <div class="row row gx-4 gx-lg-4 row-cols-1 row-cols-lg-3" id="gallery">
            <div class="col-12 col-sm-6 col-lg-5">
                <img class="w-100" src="../static/imgs/aaauto.jpg" th:src="@{/imgs/aaauto.jpg}"  data-target="#carouselExample" data-slide-to="0" alt="">
            </div>
            <div class="col-12 col-sm-6 col-lg-5">
                <img class="w-100" src="../static/imgs/habesh-coffee-kaviaren.jpg" th:src="@{/imgs/habesh-coffee-kaviaren.jpg}" data-target="#carouselExample"
                     data-slide-to="1" alt="">
            </div>

        </div>
        <h2 class="location">Kde nas najdete</h2>
        <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10424.625440044765!2d18.74407213844938!3d49.21656168542478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714594fa7578c99%3A0xb962ec7d66d78e5e!2sHabesh%20Coffee%20Shop!5e0!3m2!1ssk!2ssk!4v1666377078462!5m2!1ssk!2ssk"
                width="600" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>
<footer class="footer text-faded text-center py-4">
    <div class="container"><p class="m-0 small">Copyright &copy; HABESH COFFE 2022</p></div>
</footer>
</body>
</html>