<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/myScript.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
</header>
<nav class="navbar navbar-expand-xl navbar-dark py-lg-0" id="mainNav">
    <div class="container">
        <a class="navbar-brand lg-none" th:href="@{/}">
            <img class="logo" src="../static/imgs/obrazok_kruh_33.png" th:src="@{/imgs/obrazok_kruh_33.png}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link" th:href="@{/}">Domov</a></li>
<!--                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Eshop</a></li>-->
                <li class="nav-item px-lg-4"><a class="nav-link" th:href="@{/predajna}">Predajna</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link" href="#">Blog</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="nav-item px-lg-4"> <a class="nav-link" th:href="@{/users}">Uzivatelia</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"> <a sec:authentication="name" class="nav-link" th:href="@{/profil}"> </a></li>                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"><a class="nav-link" th:href="@{/logout}">Odhlasit sa</a></li>
                <li sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"><a class="nav-link" th:href="@{login}">Prihlasenie</a></li>
                <li sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item px-lg-4"><a class="nav-link" th:href="@{registracia}">Registracia</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="register">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 th:text="${title}" class="text-center"></h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Uzivatel uspesne zaregistrovany
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/registracia/save}"
                        th:object="${user}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Meno:</label>
                        <input
                                class="form-control"
                                id="firstName"
                                name="firstName"
                                placeholder="Zadaj meno"
                                th:field="*{name}"
                                type="text"
                        />
                        <p th:errors = "*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Priezvisko:</label>
                        <input
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                placeholder="Zadaj priezvisko"
                                th:field="*{lastName}"
                                type="text"
                        />
                        <p th:errors = "*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email:</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Zadaj email"
                                th:field="*{email}"
                                type="email"
                        />
                        <p th:errors = "*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Pouzivatelske meno:</label>
                        <label for="nick"></label><input
                                class="form-control"
                                id="nick"
                                name="nick"
                                placeholder="Zadaj pouzivatelske meno"
                                th:field="*{nick}"
                        />
                        <p th:errors = "*{nick}" class="text-danger"
                           th:if="${#fields.hasErrors('nick')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Datum narodenia:</label>
                        <label for="date"></label><input
                            class="form-control"
                            type = "date"
                            id= "date"
                            th:field="*{birthdate}"
                    />
                        <p th:errors = "*{birthdate}" class="text-danger"
                           th:if="${#fields.hasErrors('birthdate')}"></p>
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label">Heslo:</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Zadaj heslo"
                                th:field="*{pass}"
                                type="password"
                        />
                        <p th:errors = "*{pass}" class="text-danger"
                           th:if="${#fields.hasErrors('pass')}"></p>
                    </div>
<!--                    <span>ADRESA</span>-->

                    <div class="form-group mb-3">
                        <label class="form-label">Zvol kraj:</label>
                        <label>
                            <select id="districts" name="districts">
                                <option th:each="d : ${districts}"
                                        th:text="${d.name}"
                                        th:value="${d.id}"></option>
                            </select>
                        </label>


                        <!--                        <p th:errors = "*{pass}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('pass')}"></p>-->
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Zvol okres:</label>
                        <label>
                            <select id="regions"></select>
                        </label>
                        <!--                        <p th:errors = "*{pass}" class="text-danger"-->
                        <!--                           th:if="${#fields.hasErrors('pass')}"></p>-->
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Registrovat</button>
                        <span>Mas uz vytvoreny ucet? <a th:href="@{/login}">Prihlasit</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // $( "#districts" ).change(function() {
    //     alert( "Handler for .change() called." );
    // });

    $("#districts").change(
        function() {
            $.getJSON("http://localhost:8080/regions", {
                districtId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option value=""></option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].name + '">'
                        + data[i].name + '</option>';
                }
                html += '</option>';
                $('#regions').html(html);
            });
        });
</script>


<footer class="footer text-faded text-center py-4">
    <div class="container"><p class="m-0 small">Copyright &copy; HABESH COFFE 2022</p></div>
</footer>
</body>
</html>